body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(120deg,#2980b9,#8e44ad);
  height: 100vh;
  overflow: hidden;
}
#comp{
  text-decoration: line-through;
  color: white;
}
.App{
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  text-align: center;
}
.box input[type="text"]{
  width: 100%;
  padding: 0 5px;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid #3498db; 
  border-radius: 5px;
  background: none;
  outline: none;
  font-size: 12px;
  font-family: arial, Verdana, sans-serif
}
.box{
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
  width: 100%;
}
.amin > h1 {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 250px;
  border: 1px solid;
  background: #c2dbec;
  border-radius: 25px;
  font-size: 20px;
}
.del {
  border: 1px solid #da4949;
    background-color: #c04a4a;
    color: #ffffff;
    border-radius: 5px;
}
.del:hover{
  border: 1px solid #da4949;
  background-color: #d17171;
  color: #ffffff;
  cursor: pointer;
}
.comp{
  border: 1px solid #6d97af;
  background-color: #a4add1;
  color: #ffffff;
  border-radius: 5px;
}
.comp:hover{
  border: 1px solid #a7bac9;
  background-color: #cbc8df;
  color: #ffffff;
  cursor: pointer;
}
.add{
  border: 1px solid #006633;
  background-color: #009966;
  color: #ffffff;
  border-radius: 5px;
}
.add:hover{
  border: 1px solid #006633;
  background-color: #6cb87f;
  color: #ffffff;
  cursor: pointer;
}
.count {
  border: 1px solid gray;
  width: 100px;
  height: 60px;
  padding-bottom: 25px;
  margin-top: 20px;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 120px;
  border-radius: 25px;
  background: rgb(116, 202, 176);
  font-size: 12px;
}
.count > button {
  border: 1px solid #006633;
  background-color: #d6415a;
  color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
}
.count > button:hover{
  border: 1px solid #006633;
  background-color: #d48888;
  color: #ffffff;
  cursor: pointer;
}
